.first{
    display: flex;
    border-radius: 5px black solid;

}
body{
    display: flex;
    justify-content: center;
    background-image: url(Moonrise.jpg);
}
.quiz{
    text-align: center;
}
h1{
background: #B8E1FC;
background: radial-gradient(circle farthest-corner at center center, #B8E1FC 0%, #231421 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
} 
p{
    font-size: 30px;
}
